node_modules
*.log
.nuxt
nuxt.d.ts
.output
package-lock.json
framework
dist
.DS_Store

# Yarn
.yarn/cache
.yarn/*state*

# Local History
.history

### yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
# !.yarn/cache

# and uncomment the following lines
.pnp.*

static-files
.wrangler
*.tar.br
cli/other-mapping.ts
playground/generated
.env
playground/.env
**/storybook-static
